.cover-image {
    background-image: url('/img/covaer.png');
    background-size: cover; /* Ensure the image covers the entire div */
    background-position: center;/* Replace with your image path */
}